.bgBox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.bg-img {
  width: 100%;
  height: 100%; }

.zzc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(60rpx);
  z-index: 1; }

.yuyueListBox {
  padding: 60rpx 10% 160rpx 10%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto; }
  .yuyueListBox > .yyCard:nth-last-child(1) {
    margin-bottom: 0; }

.yyCard {
  width: 80%;
  padding: 2% 0;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 60rpx;
  border-radius: 20rpx;
  position: relative;
  overflow: hidden;
  border: 1rpx solid transparent;
  box-shadow: rgba(255, 255, 255, 0.8) 0rpx 4rpx 20rpx 0rpx;
  display: flex;
  flex-direction: column; }

.yyCard_top {
  position: relative;
  display: flex;
  width: 100%;
  padding: 5%; }

.outyyBtn {
  position: absolute;
  right: 14%;
  top: 20%; }
  .outyyBtn > text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 40rpx; }

.yy_master_img {
  margin-left: -5rpx;
  margin-top: -5rpx;
  width: 90rpx;
  height: 90rpx;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.8) 0rpx 4rpx 20rpx 0rpx;
  position: relative; }
  .yy_master_img > image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%; }

.master_name {
  white-space: nowrap;
  color: #fff;
  display: inline-block;
  font-size: 20rpx;
  margin-left: 30rpx;
  margin-top: 10%; }

.yyMsgBox {
  padding: 3% 5% 5% 5%; }

.yymsg_title {
  color: #fff;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical; }

.groupBox {
  width: 100%;
  display: flex;
  padding: 5% 0; }
  .groupBox > .group_item {
    margin-right: 0.8em; }
    .groupBox > .group_item:nth-last-child(1) {
      margin-right: 0; }

.group_item {
  width: 90rpx;
  height: 90rpx;
  border-radius: 50%;
  border: 1rpx solid #fff;
  position: relative; }

.joinBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  top: 0; }
  .joinBtn > .icon-jiahao {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40rpx; }

.g_item_name {
  position: absolute;
  bottom: -50rpx;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20rpx;
  color: #fff;
  white-space: nowrap;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical; }

.btn_addyy {
  position: fixed;
  right: 10%;
  bottom: 18%; }
  .btn_addyy .icon-chuangjian {
    color: #fff;
    font-size: 80rpx; }

.btn_message {
  position: fixed;
  right: 10%;
  bottom: 40%; }
  .btn_message .icon-xiaoxi {
    color: #fff;
    font-size: 80rpx; }

.newMsgTip {
  position: absolute;
  right: 0;
  top: -10%;
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
  background-color: #fc5531;
  font-size: 28rpx;
  text-align: center;
  line-height: 40rpx;
  color: #fff; }

.msgListBox {
  width: 600rpx;
  height: 400rpx;
  padding: 20rpx;
  border-radius: 10rpx;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative; }

.msg_close_btn {
  width: 60rpx;
  height: 60rpx;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0rpx 10rpx 0 10rpx;
  color: #fff;
  font-size: 20rpx; }

.msgList_content {
  width: 100%;
  height: 100%;
  overflow: auto; }

.msgList_item {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 18rpx 20rpx;
  margin-bottom: 20rpx;
  border-radius: 30rpx;
  background-color: rgba(255, 255, 255, 0.2); }
  .msgList_item .icon-guanbi {
    margin-left: 10rpx; }
